
    body {
      height: 100%;
      width: 100%;
      position: absolute;
       font: "Helvetica Neue", "Microsoft YaHei", "Sans-Serif"
       position: relative; 
    }


.container-fluid,.row-fluid { height: auto; }


    .my-map { width: 600px; height: 600px; }
    .my-map .icon { background: url(http://lbs.amap.com/console/public/show/marker.png) no-repeat; }
    .my-map .icon-cir { height: 31px; width: 28px; }
    .my-map .icon-cir-red { background-position: -11px -5px; }
    .amap-container{height: 500px;}

    p{
        font-size: 20px;
    }
    .information{
      font-size: 20px
    }
     .block-body{
        margin-top : 20px
     }
    li,dt,dd{
      font-size: 20px
    }

    #section1 {padding-top:50px;color: #fff; background-color: #000;}
    #section21 {padding-top:50px;height:800px;color: #fff; background-color: #343434;}
     #section22 {padding-top:50px;height:500px;color: #fff; background-color: #242124;}
     #section23 {padding-top:50px;height:500px;color: #fff; background-color: #1B1B1B;}
    #section3 {padding-top:50px;color: #fff; background-color: #1A1110;}
    #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
    #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}
     #section5 {padding-top:50px;color: #fff; background-color: #483C32;}
      #section6 {padding-top:50px;color: #fff; background-color: #483C32;}


      #section6  .grid, #section5 .grid{
          display:flex;
  flex-flow:row wrap;
  justify-content:space-around;
  align-items:flex-start;
  margin:0 auto; 
      padding:0;
      max-width: 90%;
      list-style: none; 
      margin-top:20px;
    }
     #section6  .grid  li,#section5  .grid  li {
      margin:20px;
      max-width:600px;
      @media(min-width:1023px) {
        max-width:420px;
        }
      }
    
     #section6  img {
      max-width:100%;
      height:auto;
      display:block;
    }
    
    html,body{margin:0;padding:0;}
    .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
    .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
    
.button {
  color: #990000;
  border:solid 2px #990000;
  border-radius:50%;
  display:inline-block;
  width:50px;
  height:50px;
  text-align:center;
  font-size:20px;
  line-height:48px;
  transition:all .3s ease-in-out;
  
}

.button:hover {
    border:solid 2px #fff;
    color:#fff;
    background: #990000;
  }

  .thumb {
    margin-bottom: 30px;
  }
  .thumbnail img{
        max-height:380;
  }

  footer {
    color:#fff;
    background-color: #483C32;
  }
    